<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>

    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="body">
        <div class="searchContainer">
            <div class="sBlock">
                <label for="searchTitle">Enter Title:</label><br>
                <input type="text" id="searchTitle" name="title"><br>
                <label for="searchAuthor">Enter Author Name:</label><br>
                <input type="text" id="searchAuthor" name="author"><br>
                <label for="searchPublisher">Enter Publisher Name:</label><br>
                <input type="text" id="searchPublisher" name="publisher"><br>
                <label for="searchSubject">Enter Genre:</label><br>
                <input type="text" id="searchSubject" name="subject"><br>
                <label>Select Order:</label>
                <select id="order">
                    <option value="relevance">Relevance</option>
                    <option value="newest">Newest</option>
                </select>
    
                <button onclick="validateData()">SEARCH</button>
            </div>
        </div>
        <div class="resultContainer" id="resultContainer">
            <p class="intro"><span>WELCOME TO MY BOOK WEBSITE!</span><br>
                Please enter at least one field in the search box.<br>
                Click on the book's title for detail informations of that book.
            </p>
        </div>
    </div>
    <div class="extraInfo" id="extraInfo">
        <div class="eBlock">
          <div class="crosX" onclick="hideExtraInfo()">
              <div style="
                            width: 100%;
                            height: 0;
                            border: 1px solid blue;
                            margin-top: calc(28px / 2);
                            transform: rotate(45deg);
                        "></div>
              <div style="
                            width: 100%;
                            height: 0;
                            border: 1px solid blue;
                            transform: rotate(-45deg);
                        "></div>
          </div>
            <div class="grid-0" id="grid-0"><p id="eTitle"></p></div>
            <div class="grid-1" id="grid-1"></div>
            <div class="grid-2" id="grid-2"></div>
            <div class="grid-3" id="grid-3"></div>
        </div>
    </div>

    <script src="/static/home.js"></script>
</body>
</html>